.cm-s-comcom span.cm-comment { color: rgb(76, 136, 107); }
.cm-s-comcom span.cm-keyword { color: blue; }
.cm-s-comcom span.cm-string { color: #a22; }
.cm-s-comcom span.cm-builtin { color: rgb(104, 118, 135); }
.cm-s-comcom span.cm-bracket { color: rgb(104, 118, 135); }
.cm-s-comcom span.cm-special { color: rgb(88, 92, 246); }
.cm-s-comcom span.cm-variable { color: black; }
.cm-s-comcom span.cm-number { color: #3a3; }
.cm-s-comcom span.cm-meta { color: #555; }
.cm-s-comcom span.cm-link { color: #3a3; }
.cm-s-comcom span.cm-atom { color: #3a3; font-style: italic; }

.cm-s-comcom .CodeMirror-activeline-background { background: #e8f2ff; }
.cm-s-comcom .CodeMirror-matchingbracket { 
  -webkit-box-shadow:  inset 0px 0px 1px 1px rgba(0,0,0,0.25);
  color: firebrick !important;
}

/* For Prism */
.output span.comment { color: rgb(76, 136, 107); }
.output span.keyword { color: blue; }
.output span.operator { color: rgb(104, 118, 135); }
.output span.bracket { color: rgb(104, 118, 135); }
.output span.special { color: rgb(88, 92, 246); }
.output span.atom { color: #3a3; font-style: italic; }
.output span.error { color: red; }