<script src="../../node_modules/nwjs-kremlin/reload.js"></script>

<meta charset="utf-8">

<link rel="stylesheet" type="text/css" href="coq.css">

<%= jquery />

<!-- CodeMirror -->
<script src="../../node_modules/codemirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="../../node_modules/codemirror/lib/codemirror.css" />

<script src="../../node_modules/jquery-contextmenu/dist/jquery.contextMenu.js"></script>
<script src="../../node_modules/jquery-contextmenu/dist/jquery.ui.position.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../node_modules/jquery-contextmenu/dist/jquery.contextMenu.css">

<script src="lang/tree.ls.js"></script>
<script src="lang/parser.ls.js"></script>
<script src="lang/coq.ne.js"></script>
<script src="ui/pretty.ls.js"></script>
<script src="lang/graph.ls.js"></script>
<script src="ui/proof-tree.ls.js"></script>
<script src="buffer.ls.js"></script>
<script src="coq.ls.js"></script>
<script src="process.ls.js"></script>

<script src="ui/notebook.ls.js"></script>

<script src="ui/coq-mode.js"></script>
<script src="ui/editor.ls.js"></script>

<script src="hub.ls.js"></script>

<body>
  <div id="workspace">
    <div class="pane" id="editor">
    </div>
    <div class="pane" id="notebook">
      <div id="top" class="container"></div>
      <div id="script"></div>
    </div>
  </div>
</body>
