body {
  margin: 0;
  padding: 0;
}
#workspace {
  display: flex;
  align-items: stretch;
  height: 100vh;
}

.pane {
  overflow: auto;
}
#editor.pane {
  max-width: 40%;
  border-right: 1px solid #ddd;
}
#editor.pane .CodeMirror {
  height: 100%;
}
#editor.pane .CodeMirror .CodeMirror-widget {
  line-height: 12px;  /* because some characters are too tall (due to alternative font glyph rendering) */
}
#notebook.pane {
  padding: 5px;
  flex-grow: 1;
}

/* Notebook */
#top {
  font-family: "Times New Roman";
}

.prompt {
  width: 100%;
}
p.prompt {
  box-sizing: border-box;
  border: 1px solid #CCC;
  margin: 0;
  font-family: sans-serif;
  font-size: 9pt;
  padding: 2px;
  white-space: pre;
}
p.prompt:not([readonly]) {
  -webkit-user-modify: read-write;
}

div.sequent {
  padding: .5em;
}
div.sequent p {
  margin: 0;
}

div.error {
  margin-top: .33em;
  color: crimson;
}

table.env {
  border-collapse: collapse;
}
table.env > * > th,
table.env >*>*> th {
  background: rgba(0,0,0,0.05);
  padding: 0 .3em;
  text-shadow: 1px 1px 2px rgba(0,0,0,.3);
  font-weight: normal;
}
table.env > * > td,
table.env >*>*> td {
  background: rgba(0,0,0,0.1);
  padding: 0 .5em 0 .3em;
}

div.container.proof,
div.container.splitting > div.container {
  border: 1px solid black;
  padding: 3px;
  margin: 3px 0;
}

div.container > h1 {
  font-size: 100%;
  margin: 0;
  padding-bottom: 3px;
  border-bottom: 1px solid grey;
}

span.list-app, span.list-cons {
  font-family: "Milford Hollow";
}

span.type-nat {
  font-family: "Rechtman";
  font-style: normal;
}

div.sequent > span.tag {
  float: right;
  font-size: 6pt;
}

span.quantifier {
  font-family: "KaTeX_Main";
  font-size: 110%;
}
span.fun {
  font-size: 110%;
}

span.match {
  display: inline-block;
}
span.match > table {
  border-left: 3px solid rgba(0,0,0,0.2);
  border-collapse: collapse;
}
span.match > table > tr:not(:last-child),
span.match > table > * > tr:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
span.match > table > * > th,
span.match > table >*>*> th {
  font-weight: normal;
  text-align: left;
  background: rgba(0,0,0,0.1);
  padding-left: .2em;
}
span.match > table > * > th::after,
span.match > table >*>*> th::after {
  content: "➤";
  float:right;
  margin: 4% .2em 0 .3em;
  font-size: smaller;
}
span.match > table > * > td,
span.match > table >*>*> td {
  padding: 0 .2em;
}
span.return {
  font-size: smaller;
  position: relative;
  top: -.5em;
}

span.record {
  display: inline-block;
  position: relative;
}
span.record[data-record-name]:hover::before {
  position: absolute;
  bottom: calc(100% - 1px);  /* which means just above */
  font-size: smaller;
  content: "Record " attr(data-record-name);
  white-space: nowrap;
  background: #FFB;
  border: 1px solid #888;
  padding-right: 1px;
}
span.record > table {
  display: inline-block;
  border: 1px solid rgba(0,0,0,0.5);
  border-collapse: collapse;
  margin-bottom: 1px;
}
span.record > table > * > * > th {
  background: rgba(0,0,0,0.1);
  text-shadow: 1px 1px 1px rgba(0,0,0,.2);
  font-weight: normal;
  text-align: left;
}

span.const.bool {
  font-style: italic;
}
span.operator.bool {
  font-family: "Milford Hollow";
  font-size: smaller;
  letter-spacing: -2px;
  padding-right: 2px;
}
span.operator.fmap {
  font-family: "Milford Hollow";
}

span.metavar {
  color: orange;
}
span.metavar::before {
  content: "?";
}


/* Proof tree window */
.proof-tree #tree-container {
  float: left;
}
.proof-tree #sequent-container span.tag {
  display: none;
}
