@font-face {
  font-family: "Milford Hollow";
  src: url('fonts/MILFHO__.ttf') format('truetype');
}

@font-face {
  font-family: "Rechtman";
  src: url('fonts/RechtmanPlain.ttf') format('truetype');
}

