<script src="../node_modules/web-realtime/reload.js"></script>
<script>Reload.ignore(/^data\//); delete module;</script>

<meta charset="utf-8">

<%= jquery />
<!-- kremlin does not know how to load jquery-ui. :( -->
<script src="../bower_components/jquery-ui/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="../bower_components/jquery-ui/themes/base/jquery-ui.css">

<script src="../node_modules/jquery-contextmenu/dist/jquery.contextMenu.js"></script>
<script src="../node_modules/jquery-contextmenu/dist/jquery.ui.position.min.js"></script>
<link rel="stylesheet" type="text/css" href="../node_modules/jquery-contextmenu/dist/jquery.contextMenu.css">

<!-- CodeMirror -->
<script src="../node_modules/codemirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="../node_modules/codemirror/lib/codemirror.css" />
<!-- + modes and themes -->
<script src="../node_modules/codemirror/mode/clike/clike.js"></script>
<script src="../node_modules/codemirror/addon/edit/matchbrackets.js"></script>
<link rel="stylesheet" href="../node_modules/codemirror/theme/neat.css">

<!-- Prism (syntax highlighting) -->
<script src="../node_modules/prismjs/prism.js"></script>

<script src="./editor/synquid-mode.js"></script>
<link rel="stylesheet" type="text/css" href="./editor/comcom.css">
<script src="./editor/synquid-prism.js"></script>

<!-- Firebase --
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>

 !-- Firepad --
<link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.1.1/firepad.css" />
<script src="https://cdn.firebase.com/libs/firepad/1.1.1/firepad.min.js"></script>
-->

<script src="synquid.js"></script>

<style>
  body {
    font-size: 12px;
  }
  div.output { 
    font-family: Menlo,Consolas,monospace;
    font-size: 100%;
    white-space: pre;
  }
  div#editor {
    border: 1px solid black;
    height: 66%;
    margin-bottom: 10px;
  }
  div#exec {
    margin-bottom: 10px;
  }
  div#exec button#run::before {
    content: attr(mode);
  }
  div#exec #examples {
    display: inline-block;
    -webkit-user-select: none;
    padding: 0 10px;
    cursor: pointer;
  }
  .CodeMirror {
    font-family: Monaco,Consolas,monospace;
    height: 100%;
  }
  a.powered-by-firepad {
      display: none;
  }
</style>

<body>
  <div id="editor"></div>
  <div id="exec">
    <button id="run" mode="▶︎"></button> <input id="arguments" placeholder="Arguments">
    <span id="examples">examples ▾</span>
  </div>
  <div class="output"></div>
</body>
